<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-grid>
		<ion-row>
			<ion-col col-md-3>
			<button ion-button full round small color="secondary" (click)="fnc1()" >Login

				<ion-icon name="person"></ion-icon>
			</button>
			<ion-input [(ngModel)]="input1" (input)="fnc3(input1)"></ion-input>
		</ion-col>
		<ion-col col-md-6>
			<button ion-button full round small color="secondary" style="text-transform: none;" *ngIf="str1!=''" (click)="fun4()" >{{str1}}</button>
		</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-list>
				<ion-item full text-center *ngFor="let l of labels;let i=index;" (click)="fnc2(i)">{{l.name}}-{{l.kk}}</ion-item>
			</ion-list>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-select [(ngModel)]="selecteditem" >
				<ion-option full text-center *ngFor="let l of labels;let i=index;" (ionSelect)="fnc2(i)" value="{{l.name}}"> {{l.name}}-{{l.kk}}</ion-option>
			</ion-select>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
